@{
    Layout = "~/Views/Shared/_Layout_UA.cshtml";
}

<head>
    <meta name="keywords" content="інжинірінг, іжинірінгові послуги спиртова промисловість, баро-мембранні технології,
           програмне забезпечення, очистка води,Крохмале-патокова промисловість, Органіка інжинірінг, Органіка, компанія що займається будівництвом
           та модернізацією промислових підприємств по переробці продукції сільського господарства " />
    <meta name="description" content="Органіка Інжинірінг, Модернізацією промислових підприємств, Спиртова промисловість, Крохмале-патокова промисловість, Очистка води, Баро-мембранні технології, Автоматизація, ERP-системи" />
</head>
<div id="upTop" class="generalImage">
    <div class="container">
        <div class="centered">
            <h2>Органіка Інжинірінг</h2>
            <span>
                Органіка інжинірінг - компанія що займається будівництвом<br />
                та модернізацією промислових підприємств,<br />
                по переробці продукції сільського господарства
            </span>
            <button onclick="window.location.href = '/UA/AboutUS/'" class="about">Детальніше про компанію</button>
        </div>
    </div>
</div>
<div id="service" class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Послуги</span>
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Спиртова промисловість</div>
                </div>
            </div>
            <div onclick="window.location.href = '/UA/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Крохмале-патокова промисловість</div>
                </div>
            </div>

            <div onclick="window.location.href = '/UA/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">Очистка води та промислових стоків</div>
                </div>
            </div>
            <div onclick="window.location.href = '/UA/Membrane'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture4">
                    <div class="bottom-left">Баро-мембранні технології</div>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/Аutomation'" class="servicesPiture5">
                    <div class="bottom-left">Автоматизація</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Програмне забезпечення</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/ERP'" class="servicesPiture7">
                    <div class="bottom-left">ERP-системи</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/UA/Project'" class="servicesPiture8">
                    <div class="bottom-left">Проектування</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--

                  Блок реалізовані проекти.  Шеф сказав забрати блок. Код робочий, всі стилі готові, тестовано на різних екранах.

<div  class="bg-grey"></div>
<div id="aboutUSid" class="aboutUS">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <h2>Реалізовані проекти</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="thumbnail">
                    <img src="~/Content/images/abUs1.png" style="width:100%;height:auto" alt="...">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 contAbUS">
                <div class="textabUs">
                    <span>Ми - спеціалісти у сфері модернізації промислових підприємств.</span>
                    <span>Наша команда працює з 2009 року. За цей час ми реалізували 10 масштабних проектів для підприємств з різних країн</span>
                    <button class="btnabUs">Детальніше про проекти</button>
                </div>
            </div>
        </div>
    </div>
</div>
    -->
<div id="productid" class="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2>Продукція</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/fr2.png" style="width:150px;height:auto;" alt="...">
                    <div class="caption" style="text-align:center;">
                        <h3 style="text-align:center;">Антисептичний засіб<br /> «Фріконт»</h3>
                        <button onclick="window.location.href = '/UA/Fricont'" class="btnPrd"> Детальніше</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/barda1.png" style="width:250px;height:auto">
                    <div class="caption" style="text-align:center;margin-top:-20px;">
                        <h3 style="text-align:center;">Барда суха  спиртова<br /> DDGS</h3>
                        <button onclick="window.location.href = '/UA/Barda'" class="btnPrd">Детальніше</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2>Контакти</h2>

                <div class="num1">
                    <img src="~/Content/images/PhoneIcon.png">
                    <span>Дзвоніть нам!</span>
                </div>
                <div class="num2">
                    <span>+38(067)503-96-99</span>
                    <span>+38(067)350-13-82</span>
                </div>
                <div class="num3">
                    <img src="~/Content/images/group.png" />
                    <span>Наша адреса</span>
                </div>
                <div class="num4">
                    <span>Україна</span>
                    <span>м.Чортків</span>
                </div>
                <div id="map" style="height:400px;width:100%;margin-bottom:50px;"></div>

            </div>
            <!--2 colum-->
            <div class="col-sm-6 col-md-6">
                <h2>Форма зворотнього зв'язку</h2>
                <form action="/Home/email_send" method="post">
                    <div class="form-group">
                        <label for="name">Ім'я</label>
                        <input type="text" name="nameClient" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Контакти</label>
                        <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
                    </div>
                    <div class="textARR">
                        <label>Коротке повідомлення</label>
                        <textarea name="messageClient" placeholder="Коротко опишіть про, що ви хочете поговорити"></textarea>
                    </div>
                    <button class="blueBTN">Відправити</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var element = document.getElementById('map');
        var options = {
            zoom: 5,
            center: { lat: 49.010884, lng: 25.802651 }
        };
        var myMap = new google.maps.Map(element, options);
        var marker = new google.maps.Marker({
            position: { lat: 49.010884, lng: 25.802651 },
            map: myMap
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHISVS5myIlbPXHXuMQEjJTi_SBqkSdG8&callback=initMap"></script>
<script>
    $(document).ready(function () {
        var navheight = $('.navbar').height();
        $('a[href*=\\#]').on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $(this.hash).offset().top - navheight
            }, 500);
        });
    });
</script>

