@{
    Layout = "~/Views/Shared/_Layout_UA.cshtml";
}

<head>
    <meta name="keywords" content="Програмне забезпечення" />
    <meta name="description" content="Програмне забезпечення" />
</head>
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="TextAboutServices">
                <h2>Програмне забезпечення</h2>
                <p>
                    Сторінка в розробці. Просимо вибачення за незручності.
                </p>
                <p>

                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="padding:0;">
            <div class="boxForBuy" style="margin-top:20px;">
                <button id="myBtn" class="buttonForboxBuy">Замовти послугу</button>
                <div class="contactForboxBuy">
                    <div class="num11">
                        <img src="~/Content/images/PhoneIcon.png">
                        <span>Є питання?</span><br />
                    </div>
                    <span class="num12">Дзвоніть нам!</span>
                    <div class="num2">
                        <span>+38(067)503-96-99</span>
                        <span>+38(067)350-13-82</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey" style="margin-top:80px;"></div>
<div id="service" class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Інші послуги</span>
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div onclick="window.location.href = '/UA/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Крохмале-патокова промисловість</div>
                </div>
            </div>
            <div onclick="window.location.href = '/UA/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">Очистка води та промислових стоків</div>
                </div>
            </div>
            <div onclick="window.location.href = '/UA/Membrane'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture4">
                    <div class="bottom-left">Баро-мембранні технології</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Спиртова промисловість</div>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/UA/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Програмне забезпечення</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/UA/ERP'" class="servicesPiture7">
                    <div class="bottom-left">ERP-системи</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/UA/Project'" class="servicesPiture8">
                    <div class="bottom-left">Проектування</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Зворотній зв'язок</h2>
        <form action="/Home/email_send" method="post">
            <div class="form-group">
                <label for="name">Ім'я</label>
                <input type="text" name="nameClient" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Контакти</label>
                <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
            </div>

            <div class="textARR">
                <label>Коротке повідомлення</label>
                <textarea name="messageClient" placeholder="Коротко опишіть про, що ви хочете поговорити" style="height:126px"></textarea>
            </div>
            <button class="blueBTNaa">Відправити</button>
        </form>
    </div>
</div>
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>



