@{
    Layout = "~/Views/Shared/_Layout _RU.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:120px;">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="productDescription">
                <span class="pD8"> О нac</span>
                <span class="pD9">
                    ORGANIKA - ENGINEERING Group организована на базе производственного и проектного
                    подразделений ООО Органика, при участии ведущих специалистов перерабатывающей и пищевой
                    промышленности, специализирующихся на выполнении технологических проектов в области
                    реконструкции, модернизации и строительства современных объектов промышленности:
                    <ul>
                        <li>зерноперерабатывающей и крупопроизводства;</li>
                        <li> спиртовой , производства дистиллятов , биоэтанольной , производства DDGS;</li>
                        <li>крахмальной, паточной..</li>
                    </ul>
                </span>
                <span class="pD10">
                    Группа владеет опытом концентрации жидкостей и очистки стоков в различных отраслях
                    технологической переработки на основе фильтровальных баромембранных процессов. Проектирует
                    и обеспечивает объекты обслуживания и эксплуатации автоматизированными системами,
                    высокоинтеллектуальными программными продуктами. Внедряет электронные информационные
                    системы управления предприятий.
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="~/Content/images/organika of.png" style="width:100%;height:auto" alt="...">
        </div>
    </div>
</div>
<div class="abUSfoto">
    <div class="container">
        <div class="row">
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto1">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto2">
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto3">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto4">
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto5">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto6">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="abUSfoto7">
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:3px;">
                <div class="abUSfoto8">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2>КОНТАКТЫ</h2>

                <div class="num1">
                    <img src="~/Content/images/PhoneIcon.png">
                    <span>Звоните нам!</span>
                </div>
                <div class="num2">
                    <span>+38(067)503-96-99</span>
                    <span>+38(067)350-13-82</span>
                </div>
                <div class="num3">
                    <img src="~/Content/images/group.png" />
                    <span>Наш адрес</span>
                </div>
                <div class="num4">
                    <span>Украина</span>
                    <span>г.Чортков</span>
                </div>
                <div id="map" style="height:400px;width:100%;margin-bottom:50px;"></div>
            </div>
            <!--2 colum-->
            <div class="col-sm-6 col-md-6">
                <h2>Форма обратной связи</h2>
                <form action="/RU/email_send" method="post">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" name="nameClient" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Контакты</label>
                        <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
                    </div>
                    <div class="textARR">
                        <label>Короткое сообщение</label>
                        <textarea name="messageClient" placeholder="Кратко напишите о чем вы хотите поговорить"></textarea>
                    </div>
                    <button class="blueBTN">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var element = document.getElementById('map');
        var options = {
            zoom: 5,
            center: { lat: 49.010884, lng: 25.802651 }
        };
        var myMap = new google.maps.Map(element, options);
        var marker = new google.maps.Marker({
            position: { lat: 49.010884, lng: 25.802651 },
            map: myMap
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHISVS5myIlbPXHXuMQEjJTi_SBqkSdG8&callback=initMap"></script>


