@{
    Layout = "~/Views/Shared/_Layout _RU.cshtml";
}
<head>
    <meta name="keywords" content="Фриконт,Антисептическое средство, антисептик, антимикробное средство, пенициллин,
           антисептическое, антимикробное, антибактериальными, препаратами, антибактериальными препаратами, анаэробную флору,
           антибактериальным, антисептического средств, стимулирует рост дрожжевой популяции, обеспечивает стабильность
           процесса брожения, процес брожения, рост дрожжей" />
</head>

<div class="container" style="margin-top:150px;margin-bottom:100px;">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2" style="border:1px solid #fff;">
            <div class="fotoConteiner" style="height:150px;">
                <img src="~/Content/images/fr2.png" onclick="myFunction(this);" style="width:76px;height:64px;" />
                <img src="~/Content/images/fr.png" onclick="myFunction1(this);" style="width:86px;height:64px;" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="height:400px">
            <div class="fotoConteiner1" style="width:300px;">
                <img src="~/Content/images/fr2.png" id="expandedImg" style="width:278px;height:258px;" />

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="productDescription">
                <span class="pD1">Антисептическое средство «Фриконт» </span>
                <button class="pDbuy" id="myBtn">Заказать</button>
                <span class="pD2">Поставляем товар непосредственно к вам на предприятие</span>
                <span class="pD3"> Есть вопрос ? Позвоните нам!</span>
                <span class="pD4">+38(067)503-96-99</span>
                <span class="pD5">+38(067)350-13-82</span>

                <div class="horizontalLine"></div>

                <span class="pD6"> Предназначено для </span>
                <span class="pD7">Антисептирования  сырья  и  технологических  сред</span>
                <span class="pD8"> Разработан для:</span>
                <span class="pD9">Предприятий пищевой промышленности</span>
                <span class="pD9">Предприятий спиртовой промышленности</span>
                <span class="pD9">Изготовления дрожжей</span>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="productDescription">
                <span class="pD8">Описание продукта</span>
                <span class="pD9">
                    Бензилпенициллин калия 70%
                </span>
                <span class="pD8">Выглядит</span>
                <span class="pD9">
                    Пудра белая кристаллическое
                </span>
                <span class="pD8">Запах</span>
                <span class="pD9">
                    Нейтральный
                </span>
                <span class="pD8">Дозировка</span>
                <span class="pD9">
                     1-2 г/мЗ является бактерицидной для микрофлоры родов Bacterium, Lactobacillus.
                </span>
                <span class="pD8">Способ приготовления рабочих растворов и их применение.</span>
                <span class="pD9">
                    Навеску растворить в 10-кратном количестве питьевой воды при температуре не выше 40 °С.
                    Раствор антисептического средства задается непосредственно в дрожжанку, дрожжегенератор и бродильный чан из расчета 1-2 г на 1 м3 сусла.
                    Антисептическое средство добавляется в технологическую среду при температуре не выше 40°С и диапазоне рН 3,5-7,5
                </span>

                <span class="pD8">Правила безопасности</span>
                <span class="pD9">
                    FRIKONT не повинен контактувати з їдою. Руки та інші частини тіла, які були в контакті з препаратом
                    потрібно ретельно вимити.
                </span>
                <span class="pD8">Условия хранения</span>
                <span class="pD9">
                    Препарат должен храниться в сухом закрытом складском помещении при температуре от 0 до 25°С.
                </span>
                <span class="pD8">Срок годности</span>
                <span class="pD9">
                    Срок годности препарата «Фриконт» - три года.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-6 col-md-6">
                <h2>УЗНАТЬ БОЛЬШЕ</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/barda1.png" style="width:250px;height:auto">
                    <div class="caption" style="text-align:center;margin-top:-20px;">
                        <h3 style="text-align:center;">Барда сухая спиртовая<br /> DDGS</h3>
                        <button onclick="window.location.href = '/RU/Barda'" class="btnPrd">Больше</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Услуги</span>
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RU/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Спиртовая промышленность</div>
                </div>
            </div>
            <div onclick="window.location.href = '/RU/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Крахмало-паточная промышленность</div>
                </div>
            </div>

            <div onclick="window.location.href = '/RU/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">  Очистка воды и промышленных стоков   </div>
                </div>
            </div>
            <div onclick="window.location.href = '/RU/Membrane'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture4">
                    <div class="bottom-left">Баро-мембранные технологии</div>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RU/Аutomation'" class="servicesPiture5">
                    <div class="bottom-left">Автоматизация</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RU/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Програмное обеспечение</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RU/ERP'" class="servicesPiture7">
                    <div class="bottom-left">ERP-системы</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/RU/Project'" class="servicesPiture8">
                    <div class="bottom-left">Проектирование</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Feedback</h2>
        <form action="/RU/email_send" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="nameClient" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Contact</label>
                <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
            </div>

            <div class="textARR">
                <label>Message</label>
                <textarea name="messageClient" style="height:126px"></textarea>
            </div>
            <button class="blueBTNaa">Send</button>
        </form>
    </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <span id="closer" class="close">&times;</span>
        <img src="~/Content/images/frnew.png" style="max-width:700px;min-width:375px;height:475px; min-height:250px;" />
    </div>
</div>
<script>
    function myFunction1() {
        document.getElementById("myModal2").style.display = "block";
    }
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        expandImg.src = imgs.src;
        expandImg.parentElement.style.display = "block";
    }


    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    var closer = document.getElementById("closer");

    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    closer.onclick = function () {
        document.getElementById("myModal2").style.display = "none";;
    }

    window.onclick = function (event) {
        if (event.target == modal || event.target == document.getElementById("myModal2")) {
            modal.style.display = "none";
            document.getElementById("myModal2").style.display = "none";
        }

    }
</script>