@{
    Layout = "~/Views/Shared/_Layout _RO.cshtml";
}
<div class="container" style="margin-top:150px;">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2" style="border:1px solid #fff;">
            <div class="fotoConteiner" style="height:150px;">
                <img src="~/Content/images/barda1.png" onclick="myFunction(this);" style="width:76px;height:64px;" />
                <img src="~/Content/images/barda2.png" onclick="myFunction(this);" style="width:86px;height:64px;" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="height:400px">
            <div class="fotoConteiner1" style="width:300px;">
                <img src="~/Content/images/barda1.png" id="expandedImg" style="width:350px;height:258px;" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="productDescription">
                <span class="pD1">Bard uscat de alcool DDGS</span>
                <button class="pDbuy" id="myBtn">A cumpara</button>
                <span class="pD2"></span>
                <span class="pD3">Contactați!</span>
                <span class="pD4">+38(067)503-96-99</span>
                <span class="pD5">+38(067)350-13-82</span>
                <div class="horizontalLine"></div>
                <span class="pD6">Is designed for the following applications:</span>
                <span class="pD7">Used as feed for all animal species, birds and fish. It contains many microadditions and is free of harmful substances and impurities.</span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:00px;">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="productDescription">
                <span class="pD8">Descriere</span>
                <span class="pD9">
                    Se utilizează în mâncrea de orice fel de animale (porci, bovine), 
                    păsări de curte și pești, are mulți  aditivi micro și nu conține substanțe nocive, impurități.
                    Acest produs conține:
                    <ul>
                        <li>proteine / proteine ușor digerabile (conținut de proteine 32% -35%).</li>
                        <li>compoziție bogată de aminoacizi (triptofan, lizină, metionină, cistină, treonină).</li>
                        <li>Conținut ridicat de vitamine (nicotină și acid folic, biotină, colină și provitamină D2 - ergosterol), macro și microelemente, fosfor, carbohidrați.</li>
                    </ul>
                    Prin conținutul de proteine, aminoacizi, macro și microelemente, care joacă un rol important
                    în metabolismul și procesele de creștere a animalelor, braul uscat de alcool este  înaintea majorității produselor alimentare.

                    Produsul face posibilă reducerea costului hranei pentru animale și obținerea economiei în timpul creșterii
                </span>
            </div>
        </div>
    </div>
</div>
<div class="tableBarda">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="TableData">
                        <thead>
                            <tr style="background:#c0c0c0;font-weight:600;color:black">
                                <th>Indici</th>
                                <th>Rezultatele analizelor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aspect vizual</td>
                                <td>Produs ce curge</td>
                            </tr>
                            <tr>
                                	
                                <td>Culoare</td>
                                <td>Galbenă</td>
                            </tr>
                            <tr>
                                <td>Miros</td>
                                <td>Drojdie de pâine, caracteristic  materiilor prime de cereale</td>
                            </tr>
                            <tr>
                                <td>Fracțiunea de masă a umezelii,%</td>
                                <td>10,90</td>
                            </tr>
                            <tr>
                                <td>Conținutul de proteine brute (în materie absolut uscată),%</td>
                                <td>34,2</td>
                            </tr>
                            <tr>
                                <td>Fracția de masă din cenușă (în materie absolut uscată),%</td>
                                <td>2,8</td>
                            </tr>
                            <tr>
                                <td>Fracția de masă a grăsimilor brute (în materie absolut uscată),%</td>
                                <td>6,4</td>
                            </tr>
                            <tr>
                                <td>Fracția masică a fibrelor brute (în materie absolut uscată),%</td>
                                <td>9,85</td>
                            </tr>
                            <tr>
                                <td>Impuritate metalică-magnetică: particule de până la 2 mm în 1 kg de mediu, mg, nu mai mult</td>
                                <td>2,5</td>
                            </tr>
                            <tr>
                                <td>Toxicitate</td>
                                <td>Nu este toxic</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Conținutul de carbohidrați</h4>
                    <table class="TableData">
                        <thead>
                            <tr style="background:#c0c0c0;font-weight:600;color:black">
                                <th>Denumirea</th>
                                <th>Amidon, %</th>
                                <th>Zahăr, %</th>
                                <th>Hemiceluloză, %</th>
                                <th>Celuloză, %</th>
                                <th>Lignină, %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bard uscat de alcool</td>
                                <td>2,86</td>
                                <td>4,06</td>
                                <td>4,97</td>
                                <td>6,60</td>
                                <td>2,77</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Conținutul de macro- și micronutrienți biogeni</h4>
                    <table class="TableData">
                        <thead>
                            <tr style="background:#c0c0c0;font-weight:600;color:black">
                                <th></th>
                                <th>Calciu, g/kg</th>
                                <th>Fosfor, g/kg</th>
                                <th>Magneziu, g/kg</th>
                                <th>Fier, mg/kg</th>
                                <th>Zinc, mg/kg</th>
                                <th>Mangan, mg/kg</th>
                                <th>Cupru, mg/kg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bard uscat de alcool</td>
                                <td>0,60</td>
                                <td>3,3</td>
                                <td>0,29</td>
                                <td>1003,06</td>
                                <td>33,04</td>
                                <td>18,91</td>
                                <td>14,70</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Compoziția comparativă a bardului uscat și a cerealelor după alcool</h4>
                    <table class="TableData">
                        <thead>
                            <tr style="font-weight:600;color:black">
                                <th>Indici</th>
                                <th>Brdul</th>
                                <th>Grâu</th>
                                <th>Secară</th>
                                <th>Porumb</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Energia de schimb, kcal</td>
                                <td>2690</td>
                                <td>2950</td>
                                <td>2820</td>
                                <td>3300</td>
                            </tr>
                            <tr>
                                <td>Unități de furaje</td>
                                <td>0,8-1,0</td>
                                <td>1,2</td>
                                <td>1,12</td>
                                <td>1,31</td>
                            </tr>
                            <tr>
                                <td>Proteine, %</td>
                                <td>28-32</td>
                                <td>11</td>
                                <td>11</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Grăsimi, %</td>
                                <td>6-8</td>
                                <td>1,7</td>
                                <td>1,7</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Cenușă, %</td>
                                <td>4-8,5</td>
                                <td>1,6</td>
                                <td>1,7</td>
                                <td>1,3</td>
                            </tr>
                            <tr>
                                <td>Celuloză, %</td>
                                <td>9,2</td>
                                <td>2,7</td>
                                <td>2,4</td>
                                <td>2,2</td>
                            </tr>
                            <tr>
                                <td>Lizină, %</td>
                                <td>0,8-0,9</td>
                                <td>0,34</td>
                                <td>0,4</td>
                                <td>0,26</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Compoziția de aminoacizi a proteinei</h4>
                    <table class="TableData">
                        <thead>
                            <tr style="font-weight:600;color:black">
                                <th rowspan="2">Aminoacid</th>
                                <th colspan="2">Bardul uscat de alcool</th>
                            </tr>
                            <tr>
                                <th>% în materie uscată</th>
                                <th>% în proteine</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lizina</td>
                                <td>0,85</td>
                                <td>2,75</td>
                            </tr>
                            <tr>
                                <td>Leucină</td>
                                <td>6,53</td>
                                <td>21,28</td>
                            </tr>
                            <tr>
                                <td>Valină</td>
                                <td>2,03</td>
                                <td>6,61</td>
                            </tr>
                            <tr>
                                <td>Treonina + serina</td>
                                <td>2,95</td>
                                <td>9,54</td>
                            </tr>
                            <tr>
                                <td>Fenilalanina</td>
                                <td>2,88</td>
                                <td>9,32</td>
                            <tr>
                                <td>Izoleucina</td>
                                <td>1,17</td>
                                <td>3,78</td>
                            <tr>
                                <td>Glicina</td>
                                <td>1,32</td>
                                <td>4,27</td>
                            <tr>
                                <td>Tirozina</td>
                                <td>2,42</td>
                                <td>7,83</td>
                            </tr>
                            <tr>
                                <td>Metionina</td>
                                <td>0,65</td>
                                <td>2,10</td>
                            <tr>
                                <td>Alanina</td>
                                <td>2,57</td>
                                <td>8,31</td>
                            </tr>
                            <tr>
                                <td>Acid aspartic</td>
                                <td>3,12</td>
                                <td>10,09</td>
                            </tr>
                            <tr>
                                <td>Acid glutamic</td>
                                <td>6,45</td>
                                <td>20,88</td>
                            </tr>
                            <tr>
                                <td>Protein</td>
                                <td>28-32</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Nutribilitatea a 1 kg de bard uscat de alcool</h4>
                    <table class="TableData">
                        <thead>
                            <tr style="background:#c0c0c0;font-weight:600;color:black">
                                <th rowspan="2">Tip</th>
                                <th colspan="3">Natural</th>
                                <th colspan="3">Absolut uscat</th>

                            </tr>
                            <tr>
                                <th>Unități de furaje</th>
                                <th>Proteină digerabilă, g</th>
                                <th>OE, MJ</th>
                                <th>Unități de furaje</th>
                                <th>Proteină digerabilă, g</th>
                                <th>ОЕ, MJ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bovine</td>
                                <td>0,88</td>
                                <td>204</td>
                                <td>9,91</td>
                                <td>0,98</td>
                                <td>227</td>
                                <td>11,04</td>
                            </tr>
                            <tr>
                                <td>Porci</td>
                                <td>0,64</td>
                                <td>202</td>
                                <td>8,44</td>
                                <td>0,71</td>
                                <td>224</td>
                                <td>9,36</td>
                            </tr>
                            <tr>
                                <td>Păsări</td>
                                <td>0,69</td>
                                <td>144</td>
                                <td>8,83</td>
                                <td>0,76</td>
                                <td>159</td>
                                <td>9,79</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Norme recomandate pentru administrarea bardului uscat de alcool în  hrana pentru bovine în%  la greutatea materiei uscate a furajelor</h4>
                    <table class="TableData">
                        <tbody>
                            <tr>
                                <td>Vaci de muls</td>
                                <td>Mai mult de  30%</td>
                            </tr>
                            <tr>
                                <td>Tinere de până la 6 luni</td>
                                <td>Până la   20%</td>
                            </tr>
                            <tr>
                                <td>Tinere  mai mari de 6 luni </td>
                                <td>Până la   25%</td>
                            </tr>
                            <tr>
                                <td>Vaci de muls foarte productive</td>
                                <td>Până la   40%</td>
                            </tr>
                            <tr>
                                <td>Bovine pentru creștere</td>
                                <td>Până la   35%</td>
                            </tr>
                            <tr>
                                <td>Perioada de stopare și neteli în ultima treime a sarcinii</td>
                                <td>Până la   30%</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Norme recomandate pentru administrarea bardului uscat de alcool  în furajele pentru PORCI  în% la greutatea materiei uscate a furajelor</h4>
                    <table class="TableData">
                        <tbody>
                            <tr>
                                <td>Animale tinere</td>
                                <td>Până la  25%</td>
                            </tr>
                            <tr>
                                <td>Porcin pentru creltere</td>
                                <td>Până la  20%</td>
                            </tr>
                            <tr>
                                <td>Gravizi și care nu au născut</td>
                                <td>Până la  40%</td>
                            </tr>
                            <tr>
                                <td>Porci care hrănec cu lapte</td>
                                <td>Până la  20%</td>
                            </tr>

                        </tbody>
                    </table>
                    <h4>Norme recomandate pentru administrarea bardului uscat de alcool  în furajele pentru PĂSĂRI  în% la greutatea materiei uscate a furajelor</h4>
                    <table class="TableData">
                        <tbody>
                            <tr>
                                <td>Curcani până la 120 de zile</td>
                                <td>Până la  4%</td>
                            </tr>
                            <tr>
                                <td>Curcani</td>
                                <td>Până la  8%</td>
                            </tr>
                            <tr>
                                <td>Pui de carne până la 60 de zile</td>
                                <td>Până la  4%</td>
                            </tr>
                            <tr>
                                <td>Animale tinere</td>
                                <td>Până la  5%</td>
                            </tr>
                            <tr>
                                <td>Găini de ouă</td>
                                <td>Până la  6%</td>
                            </tr>
                            <tr>
                                <td>Găini pentru carne</td>
                                <td>Până la  8%</td>
                            </tr>
                            <tr>
                                <td>Găini tinere -pui</td>
                                <td>Până la  5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-6 col-md-6">
                <h2>VEDEȚI DE ASEMENEA:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/fr2.png" style="width:150px;height:auto;" alt="...">
                    <div class="caption" style="text-align:center;">
                        <h3 style="text-align:center;">Antiseptic «Frikont»</h3>
                        <button onclick="window.location.href = '/RO/Fricont'" class="btnPrd">Detalii</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Alte servicii</span>
        </div>
        
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Industria de alcool</div>
                </div>
            </div>
            <div onclick="window.location.href = '/RO/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Industria de amidon și sirop</div>
                </div>
            </div>

            <div onclick="window.location.href = '/RO/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">Purificarea apei  și a apelor reziduale industriale</div>
                </div>
            </div>
            <div onclick="window.location.href = '/RO/Membrane'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture4">
                    <div class="bottom-left">Tehnologii baro-membrane</div>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/Аutomation'" class="servicesPiture5">
                    <div class="bottom-left">Automatizare</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Software</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/ERP'" class="servicesPiture7">
                    <div class="bottom-left">Sistemele ERP</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/RO/Project'" class="servicesPiture8">
                    <div class="bottom-left">Proiectare</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Feedback</h2>
        <form action="/RO/email_send" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="nameClient" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Contacts</label>
                <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
            </div>

            <div class="textARR">
                <label>Message</label>
                <textarea name="messageClient" style="height:126px"></textarea>
            </div>
            <button class="blueBTNaa">Send</button>
        </form>
    </div>
</div>
<script>
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        expandImg.src = imgs.src;
        expandImg.parentElement.style.display = "block";
    }
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        modal.style.position = "fixed";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>





