@{
    Layout = "~/Views/Shared/_Layout _RO.cshtml";
}


<div class="container" style="margin-top:150px;margin-bottom:100px;">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2" style="border:1px solid #fff;">
            <div class="fotoConteiner" style="height:150px;">
                <img src="~/Content/images/fr2.png" onclick="myFunction(this);" style="width:76px;height:64px;" />
                <img src="~/Content/images/fr.png" onclick="myFunction1()" style="width:86px;height:64px;" />
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="height:400px">
            <div class="fotoConteiner1" style="width:300px;">
                <img src="~/Content/images/fr2.png" id="expandedImg" style="width:278px;height:258px;" />

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="productDescription">
                <span class="pD1">Antisepticul Friont</span>
                <button class="pDbuy" id="myBtn">A cumpara</button>
                <span class="pD3">Contactați!</span>
                <span class="pD4">+38(067)503-96-99</span>
                <span class="pD5">+38(067)350-13-82</span>
                <div class="horizontalLine"></div>
                <span class="pD6">Este destinat pentru</span>
                <span class="pD7">Antiseptic de materii prime și medii tehnologice</span>
                <span class="pD8"> Este produs pentru:</span>
                <span class="pD9">Întreprinderile din industria alimentară</span>
                <span class="pD9">Întreprinderile industriei de alcool</span>
                <span class="pD9">Producția drojdiei</span>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:100px;">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="productDescription">
                <span class="pD8">Descrierea produsului</span>
                <span class="pD9">
                    Benzilpenicilină  potasiu 70%
                </span>
                <span class="pD8">Aspect</span>
                <span class="pD9">
                    Pudra albă cristalină
                </span>
                <span class="pD8">Miros</span>
                <span class="pD9">
                    Neutru
                </span>
                <span class="pD8">Dozare </span>
                <span class="pD9">
                    1-2 g / m3 este o bacterie bactericidă a genului Bacterium, Lactobacillus
                </span>
                <span class="pD8">Metoda de preparare a soluțiilor de lucru și aplicarea lor. </span>
                <span class="pD9">
                    Un capac de soluție se dizolvă  în cantitatea de apă potabilă de 1 la 10 la o 
                    temperatură care nu depășește 40 ° C. Soluția preparatului  se adaugă direct
                    în drojdie, generator de drojdie și cameră de fermentare la  1-2 g pe 1 m3 de must.
                    Preparatul se adaugă la mediul de proces la o temperatură nu mai mare de 40 ° C și un domeniu de pH de 3,5-7,5.
                </span>

                <span class="pD8"> Reguli de siguranță</span>
                <span class="pD9">
                    FRIKONT nu trebuie să contacteze cu alimentele.
                    Mâinile și alte părți ale corpului care au fost în contact cu produsul trebuie spălate.
                </span>
                <span class="pD8">Condiții de depozitare </span>
                <span class="pD9">
                    Preparatul  trebuie depozitat într-un depozit uscat, închis, la o temperatură cuprinsă între 0 și 25 ° C.
                </span>
                <span class="pD8"> Data de expirare</span>
                <span class="pD9">
                    Data expirării a preparatului "Frikont" este de trei ani.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-sm-6 col-md-6">
                <h2>VEDEȚI DE ASEMENEA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/images/barda1.png" style="width:250px;height:auto">
                    <div class="caption" style="text-align:center;margin-top:-20px;">
                        <h3 style="text-align:center;">Bard uscat de alcool  DDGS</h3>
                        <button onclick="window.location.href = '/RO/Barda'" class="btnPrd">Detalii</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Alte servicii</span>
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Industria de alcool</div>
                </div>
            </div>
            <div onclick="window.location.href = '/RO/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Industria de amidon și sirop</div>
                </div>
            </div>

            <div onclick="window.location.href = '/RO/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">Purificarea apei  și a apelor reziduale industriale</div>
                </div>
            </div>
            <div onclick="window.location.href = '/RO/Membrane'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture4">
                    <div class="bottom-left">Tehnologii baro-membrane</div>
                </div>
            </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/Аutomation'" class="servicesPiture5">
                    <div class="bottom-left">Automatizare</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Software</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/RO/ERP'" class="servicesPiture7">
                    <div class="bottom-left">Sistemele ERP</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/RO/Project'" class="servicesPiture8">
                    <div class="bottom-left">Proiectare</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Feedback</h2>
        <form action="/RO/email_send" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="nameClient" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Contacts</label>
                <input type="text" name="emailClient" class="form-control" id="email" placeholder="phone or e-mail">
            </div>

            <div class="textARR">
                <label>Message</label>
                <textarea name="messageClient" style="height:126px"></textarea>
            </div>
            <button class="blueBTNaa">Send</button>
        </form>
    </div>
</div>
<div id="myModal2" class="modal">
    <div class="modal-content">
        <span id="closer" class="close">&times;</span>
        <img src="~/Content/images/frnew.png" style="max-width:700px;min-width:375px;height:475px; min-height:250px;" />
    </div>
</div>
<script>
    function myFunction1() {
        document.getElementById("myModal2").style.display = "block";
    }
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        expandImg.src = imgs.src;
        expandImg.parentElement.style.display = "block";
    }


    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    var closer = document.getElementById("closer");

    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    closer.onclick = function () {
        document.getElementById("myModal2").style.display = "none";;
    }

    window.onclick = function (event) {
        if (event.target == modal || event.target == document.getElementById("myModal2")) {
            modal.style.display = "none";
            document.getElementById("myModal2").style.display = "none";
        }

    }
</script>