@{
    Layout = "~/Views/Shared/_Layout _PL.cshtml";
}


<div class="mailmassage">
    <div class="mailmassageText">
        <span class="glyphicon glyphicon-envelope"></span>
        <span>@ViewBag.Result</span>
        <span style="color:red;">@ViewBag.Result_1</span>
        <a href="/PL/Home/#upTop">На головну</a>
    </div>
</div>