@{
    Layout = "~/Views/Shared/_Layout _PL.cshtml";
}


<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="TextAboutServices">
                <h2>Technologie baromembranowe</h2>
                <p>
                    ORGANIKA - INGINIRYNG Group świadczy usługi w zakresie wprowadzania technologii oczyszczania wody,
                    skupienia środowisk  technologicznych wykorzystujących  metody filtrowania przy użyciu membran porowatych.
                    Mikrofiltracja, ultrafiltracja, nanofiltracja i odwrócona osmoza to rodzaje procesu rozdziału, 
                    gdzie przepływ wody lub roztworu technologicznego pod pewnym ciśnieniem jest przepuszczany przez membranę.
                    Ze względu na te właściwości technologia filtrowania przy użyciu membran porowatych jest szeroko
                    stosowana w różnych gałęziach przemysłu: przetwórstwie, produkcji żywności, medycynie i innych.
                </p>
                <p>
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/images/mk2.png" alt="...">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/mk1.png" alt="...">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/mk3.png" alt="...">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/mk4.png" alt="...">
                            </div>
                            <div class="item">
                                <img src="~/Content/images/mk5.png" alt="...">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </p>
                <p>
                    Grupa metod baromembranowych obejmuje:
                </p>
                <p>
                    <strong> Odwrócona osmoza </strong>(wielkość porów 1-15 A, ciśnienie robocze 0,5-8,0 MPa)
                    służy do demineralizacji wody, zachowuje praktycznie wszystkie jony  w 92-99%, a w systemie dwustopniowym do 99,9%.
                </p>
                <p>
                    <strong>Nanofiltracja</strong> (wielkość porów 10-70 Å, ciśnienie robocze 0,5-8,0 MPa) jest używana do oczyszczania od barwników,
                    pestycydów, herbicydów, sacharozy, niektórych rozpuszczonych soli, substancji organicznych, wirusów i innych.
                </p>
                <p>
                    <strong>   Ultrafiltracja </strong>  (wielkość porów 30-1000 Å, ciśnienie robocze 0,2-1,0 MPa) jest używana do oddzielenia koloidów
                    (krzem, na przykład), wirusów (łącznie z polio), sadzy węglowej, rozdzielania na frakcje mleka i tak dalej.
                </p>
               <p>
                   <strong>Mikrofiltracja</strong> (wielkość porów 500-20000 Å, ciśnienie robocze 0,01 do 0,2 MPa) jest używana do oddzielenia niektórych wirusów i bakteri, 
                   drobnych pigmentów, pyłów, węgla aktywowanego, azbestu, barwników, rozdzielania emulsji wodno-olejowych, itp.
                   Im większe pory zostały utworzone w membranie, tym jaśniejszy jest proces filtracji membranowej
                   i tym bardziej jest zbliżony treściowo do tzw filtracji mechanicznej.
               </p>
                <div class="membraneTech">
                    <div class="container">
                        <!--1-->
                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture2">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture3">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture4">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture5">
                                </div>
                            </div>
                        </div>
                        <!--2-->
                        <div class="row">
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture6">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture7">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture8">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2" style="padding:0;">
                                <div class="membraneTechPiture1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4" style="padding:0;">
            <div class="boxForBuy" style="margin-top:20px;">
                <button id="myBtn" class="buttonForboxBuy">Kupować</button>
                <div class="contactForboxBuy">
                    <div class="num11">
                        <img src="~/Content/images/PhoneIcon.png">
                        <span>Czy jest pytanie?</span><br />
                    </div>
                    <span class="num12">Zadzwoń do nas!</span>
                    <div class="num2">
                        <span>+38(067)503-96-99</span>
                        <span>+38(067)350-13-82</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey" style="margin-top:80px;"></div>
<div id="service" class="services">
    <div class="container">
        <div class="row">
            <span class="servicesSpan">Usługi</span>
        </div>
        <!--1-->
        <div class="row" style="margin-top:32px;">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/PL/AlcoholIndustry'" class="servicesPiture1">
                    <div class="bottom-left">Przemysł alkoholowy</div>
                </div>
            </div>
            <div onclick="window.location.href = '/PL/StarchyPatchIndustry'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture2">
                    <div class="bottom-left">Produkcja skrobi i maltodekstryny. </div>
                </div>
            </div>

            <div onclick="window.location.href = '/PL/WaterTreatment'" class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div class="servicesPiture3">
                    <div class="bottom-left">Oczyszczanie wody i ścieków przemysłowych</div>
                </div>
            </div>
           <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
            <div onclick="window.location.href = '/PL/Аutomation'" class="servicesPiture5">
                <div class="bottom-left">Automatyzacja</div>
            </div>
        </div>
        </div>
        <!--2-->
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/PL/Soft'" class="servicesPiture6">
                    <div class="bottom-left">Oprogramowanie</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;">
                <div onclick="window.location.href = '/PL/ERP'" class="servicesPiture7">
                    <div class="bottom-left">Systemy ERP</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3" style="padding:0;margin-bottom:135px;">
                <div onclick="window.location.href = '/PL/Project'" class="servicesPiture8">
                    <div class="bottom-left">Projektowanie</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Dane do kontaktu</h2>
        <form action="/PL/email_send" method="post">
            <div class="form-group">
                <label for="name">Imię</label>
                <input type="text" name="nameClient" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Kontakty</label>
                <input type="text" name="emailClient" class="form-control" id="email" placeholder="telefon lub e-mail">
            </div>

            <div class="textARR">
                <label>Krótka wiadomość</label>
                <textarea name="messageClient" placeholder="Krótko opisz, o czym chcesz porozmawiać" style="height:126px"></textarea>
            </div>
            <button class="blueBTNaa">Wyślij</button>
        </form>
    </div>
</div>
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


